
{% extends "index.html" %}
{% load static %}

<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

{% block title %}T-SHIRT{% endblock title %}
    {% block content %}
      
        <div class="   grid justify-items-center px-[200px] mt-10 grid-cols-3 sm:grid-cols-3 md:grid-cols-3 xl:grid-col-3 lg:grid-col-3 gap-5  ">
        {% for product in products %}
        
            <div class="  h-[600px] w-[350px] overflow-hidden  mx-[100px]">
                    
                    <a href={% url "shop:item" product.id %} class = "MainButton">
                        <div class='mt-5 bg-clip-border border-4 border-violet-300'>
                            <img class='h-[400px] w-[300px] grow   ' src="{{ product.image.url }}" >
                    
                                
                                    
                                <div class='bg-white h-[100px] w-[300px]'>
                                <p class='font-bold text-xl pt-5 text-black '>{{ product.title }}</p>
                                <p class='font-bold text-xl text-red-200  '>{{ product.price }} Р</p>
                                </div>
                        </div>
                        
                        
                    
                     </a>
            </div>
                
        
            
            {% endfor %}
        </div>
    {% endblock content %}
    

        



