{% extends "index.html" %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Categories{% endblock title%}</title>

    {% block content %}
    <ul class="categories">
        {% for subcategory in subcategories %}
            <li>
               <a href= {% url "shop:products" subcategory.category_name subcategory.title %} class = "my-button" >{{ subcategory.title }}</a> 
            </li>
        {% endfor %}
        
    </ul>
    {% endblock content %}
</body>
</html>



    