{% load static %}

<nav class='w-full bg-gray-500 mt-[500px] '>
    <p class='m-5'></p>
    <p class='m-5'>
        <p class='m-5'></p>
    </p>
    <p class='mt-[100px] text-lg'>Наши контакты</p>
    <p class='mb-5'></p>
    <div class='flex flex-row items-center inset-x-0 bottom-0 mt-[100px]'>
        <div class=" basis-1/4">
            
            <a href='#' class="flex  MainButton items-center">
            <img class="h-10 w-10 float-left" src="{% static "shop/images/telephone.png" %}"  />
    
            
        </a>
        </div>

        <div class="basis-2/4">
            <a href="https://t.me/muvinio" class="MainButton text-4xl text-pink-600 font-extrabold tracking-widest  ">
                <img class="h-10 w-10 " src="{% static "shop/images/telegram.png" %}"  />
                
            </a>
        </div>
        <div class="basis-1/4">
            <a href='#' class="MainButton flex items-center">
            <img class="h-10 w-10 " src="{% static "shop/images/world.png" %}"  />
            
        </a>
        </div>
        
    </div>  
    
</nav>